.container {
    max-width: 600px;
    width: 90vw;
    text-align: center;

    h2 {
        margin-block: 1.5em;
    }


    p {
        text-align: start;
        margin-block: 3em 1em;
    }

    .question_container {
        text-align: start;
        margin-bottom: 2em;

        .question {
            background-color: rgb(93, 93, 176);
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 1em;
            gap: 10px;
            cursor: pointer;

            span {
                color: white;
                font-size: 2.5em;
                margin-top: 5px;
            }

            h3 {
                margin: 0;
                font-size: 1em;
            }
        }

        .question_response {
            background-color: rgb(74, 74, 132);
            height: 0;
            width: 100%;
            transition: all .5s;
            overflow: hidden;

            p {
                padding: 1em;
                font-size: .9em;
                margin: 0;
            }
        }
    }

    .show_response {

        .question {
            border-radius: 5px 5px 0 0;

            span {
                transform: rotate(180deg);
            }
        }

        .question_response {
            height: auto;
            border-radius: 0 0 5px 5px;
        }
    }
}