.clients_container {
    max-width: 600px;
    width: 90vw;
    margin-block: 2em 5em;

    .filters {
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;

        label {
            display: flex;
            flex-direction: column;

            select {
                margin-top: 5px;
                width: 200px;
                padding: .5em;
                font-size: 1em;
            }
        }
    }

    h2 {
        text-align: center;
        margin-block: 1em 2em;
    }


    .link {
        text-decoration: none;
        color: white;
    }

    .clients {
        margin-bottom: 2em;
        font-size: 12px;
        background-color: rgb(94, 104, 177);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.377);
        padding: 1em 2em;
        border-radius: 5px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        transition: all .2s;

        .clients_left {
            text-align: start;
            word-break: break-all;

            .clients_left_name {
                display: flex;
                flex-direction: column;


                p {
                    margin: 0;
                }

                h2 {
                    text-align: start;
                    margin: 0;
                }
            }
        }

        .clients_rigth {
            text-align: end;

            .status {
                display: flex;
                font-size: 1.1em;
                align-items: center;
            }

            .status span {
                color: white;
            }

        }
    }

    .clients:hover {
        transform: scale(1.07);
    }
}

.loading {
    display: flex;
    height: 50vh;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    .clients_container {

        .filters {
            flex-direction: row;

            label {

                select {
                    width: 170px;

                }
            }
        }
    }
}