.clients_container {
    width: 70vw;
    max-width: 500px;
    margin-block: 2em 5em;
}

.status {
    display: flex;
    align-items: center;
}

.status_icon {
    width: 10px;
    border-radius: 50%;
    margin-left: 5px;
    border: 1px white solid;
    height: 10px;
}