.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    background-color: rgb(129, 129, 228);
    align-items: center;
    font-size: 1.2em;
    position: fixed;
    z-index: 99;

    .title a {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        transition: all .2s;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        text-shadow: rgba(0, 0, 0, 0.558) 0.1em 0.1em 0.2em;
        padding: 16px;

        .icon {
            margin-top: 5px;
            color: rgb(56, 56, 159);
        }
    }

    .title a:hover {
        color: rgb(156, 156, 194);

        .icon {
            color: rgb(83, 83, 140);
        }
    }


    .menu_icon {
        display: none;
    }

    .routes {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: end;
        justify-content: center;

        li a,
        .logout {
            display: block;
            background-color: transparent;
            border: none;
            font-size: 12px;
            cursor: pointer;
            color: white;
            text-decoration: none;
            transition: all .2s;
            padding: 1.5em 1em;
            text-shadow: rgba(0, 0, 0, 0.522) 0.1em 0.1em 0.2em
        }

    }

    .routes li a:hover,
    .logout:hover {
        color: rgb(156, 156, 194);
    }
}

@media (max-width: 600px) {
    .navbar {
        .menu_icon {
            display: block;
            margin-top: 5px;
            padding-inline: .5em;
            font-size: 1.5em;
            transition: transform .5s, color .2s;
            cursor: pointer;
            transform: rotate(0deg);
        }

        .menu_icon:hover {
            color: rgb(56, 56, 159);
        }

        .routes {
            background-color: rgb(99, 99, 187);
            flex-direction: column;
            transform: translateX(100%);
            transition: all .5s;
            position: fixed;
            z-index: 0;
            top: 62.5px;
            right: 0;
            width: 50%;
            height: 100vh;
            justify-content: start;

            li,
            .logout {
                text-align: end;
                width: 100%;
                transition: all .2s;
            }

            li:hover,
            .logout:hover {
                background-color: rgb(93, 93, 176);
            }

        }

        /* Menu Active */
        .active {
            .menu_icon {
                transform: rotate(180deg);
            }

            .routes {
                transform: translateX(0%);
            }
        }
    }
}