.navbar {
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-around;
    background-color: rgb(129, 129, 228);
    align-items: center;
    font-size: 1.2em;
}

.title a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    transition: all .2s;
    padding: 16px;
}

.title a:hover {
    color: rgb(194, 194, 194);
}

.routes {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logout {}

.routes li a,
.logout {
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: all .2s;
    padding: 1em;
}

.routes li a:hover,
.logout:hover {
    color: rgb(194, 194, 194);
}