.footer {
    background-color: rgb(30, 30, 50);
    color: #ccc;
    margin-top: 4em;
    display: flex;
    padding: .5em 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo a {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        transition: all .2s;
        padding: 16px;
        display: flex;
        align-items: center;
        gap: 2px;
        text-shadow: rgba(0, 0, 0, 0.558) 0.1em 0.1em 0.2em;

        .icon {
            margin-top: 5px;
            color: rgb(56, 56, 159);
        }
    }

    .myData {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

        li {
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;

            p {
                font-size: .8em;
            }

            span {
                font-size: 1em;
                margin: 5px 5px 0 0;
            }
        }
    }
}


.logo a:hover {
    color: rgb(156, 156, 194);

    .icon {
        color: rgb(83, 83, 140);
    }
}


@media (min-width: 600px) {
    .footer {
        .myData {
            gap: 2em;
            flex-direction: row;
        }
    }


}